<ion-view title="DIET ANALYTICS">
  	<ion-nav-buttons side="right">
    	<button class="button button-icon icon ion-bookmark"></button>
  	</ion-nav-buttons>
  	<ion-content class="has-header">
  		<div class="article">
    		<h2>{{article.name}}</h2>
    		<p>{{article.meta_description}}</p>
			<button onclick="window.plugins.socialsharing.shareViaTwitter('Message and link via Twitter', null /* img */, 'http://www.x-services.nl')">msg and link via Twitter</button>
			<button onclick="window.plugins.socialsharing.shareViaFacebookWithPasteMessageHint('Message via Facebook', null /* img */, null /* url */, 'Paste it dude!', function() {console.log('share ok')}, function(errormsg){alert(errormsg)})">msg via Facebook (with errcallback)</button>
			<button onclick="window.plugins.socialsharing.canShareViaEmail(function(e){alert(e)}, function(e){alert(e)})">is Email available?</button>
    		<div ng-bind-html="myHTML"></div>
		</div>
  	</ion-content>
</ion-view>
