<ion-view title="DIET ANALYTICS">
  	<ion-nav-buttons side="right">
    	<button class="button button-icon icon ion-bookmark"></button>
  	</ion-nav-buttons>
  	<ion-content class="has-header">
  		<div class="article">
    		<h2>{{article.name}}</h2>
    		<p>{{article.meta_description}}</p>
    		<div class="row">
	    		<div class="col share facebook" ng-click="facebookShare()">
	    			<i class="ion-social-facebook"></i>
	    		</div>
				<div class="col share twitter" ng-click="twitterShare()">
					<i class="ion-social-twitter"></i>
				</div>
				<a class="col share pinterest" href="http://www.pinterest.com/pin/create/button/
					?url=http://dietanalytics.com/articles/{{article.seo_url}}?orgin=app
			        &media=http://static.dietanalytics.com{{article.image_url}}
			        &description={{article.meta_description}}" 
					target="_blank">
			        	<i class="ion-social-pinterest"></i>
				</a>
				<div class="col share" ng-click="onShare()"><span>...</span></div>
			</div>
			<img ng-src="http://static.dietanalytics.com{{article.image_url}}" width="100%">
    		<div ng-bind-html="myHTML"></div>
    		<div class="row">
	    		<div class="col share facebook" ng-click="facebookShare()">
	    			<i class="ion-social-facebook"></i>
	    		</div>
				<div class="col share twitter" ng-click="twitterShare()">
					<i class="ion-social-twitter"></i>
				</div>
				<a class="col share pinterest" href="http://www.pinterest.com/pin/create/button/
					?url=http://dietanalytics.com/articles/{{article.seo_url}}?orgin=app
			        &media=http://static.dietanalytics.com{{article.image_url}}
			        &description={{article.meta_description}}" 
					target="_blank">
			        	<i class="ion-social-pinterest"></i>
				</a>
				<div class="col share" ng-click="onShare()"><span>...</span></div>
			</div>
			<fb:comments href="http://dietanalytics.com/articles/{{article.seo_url}}"></fb:comments>
		</div>
  	</ion-content>
</ion-view>
