<ion-view title="DIET ANALYTICS">
  	<ion-nav-buttons side="right">
    	<button class="button button-icon icon ion-bookmark"></button>
  	</ion-nav-buttons>
  	<ion-content class="has-header">
  		<div class="article">
    		<h2>{{article.name}}</h2>
    		<p>{{article.meta_description}}</p>
			<button onclick="window.plugins.socialsharing.shareViaTwitter('Message and link via Twitter', null /* img */, 'http://www.x-services.nl')">msg and link via Twitter</button>
			<button onclick="window.plugins.socialsharing.shareViaFacebookWithPasteMessageHint('Message via Facebook', null /* img */, null /* url */, 'Paste it dude!', function() {console.log('share ok')}, function(errormsg){alert(errormsg)})">msg via Facebook (with errcallback)</button>
			<button onclick="window.plugins.socialsharing.shareViaSMS('My cool message', null /* see the note below */, function(msg) {console.log('ok: ' + msg)}, function(msg) {alert('error: ' + msg)})">share via SMS</button>
			<button onclick="window.plugins.socialsharing.shareViaEmail(
				  'Message', // can contain HTML tags, but support on Android is rather limited:  http://stackoverflow.com/questions/15136480/how-to-send-html-content-with-image-through-android-default-email-client
				  'Subject',
				  ['to@person1.com', 'to@person2.com'], // TO: must be null or an array
				  ['cc@person1.com'], // CC: must be null or an array
				  null, // BCC: must be null or an array
				  ['https://www.google.nl/images/srpr/logo4w.png','www/localimage.png'], // FILES: can be null, a string, or an array
				  onSuccess, // called when sharing worked, but also when the user cancelled sharing via email (I've found no way to detect the difference)
				  onError // called when sh*t hits the fan
				);">Email
			</button>
			<button onclick="window.plugins.socialsharing.share('Message and link', null, null, 'http://www.x-services.nl')">message and link</button>
    		<div ng-bind-html="myHTML"></div>
		</div>
  	</ion-content>
</ion-view>
