<div class="modal" id="search">
  <ion-header-bar>
    <h1 class="title">Search</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeSearch()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doSearch()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label"><i class="ion-ios7-search"></i></span>
          <input type="text" ng-model="searchData.query" ng-change="doSearch()">
        </label>
      </div>
    </form>
    <ion-list >
    	<ion-item ng-repeat="result in results" item="result" href="#/app/articles/{{result.id}}" ng-click="closeSearch()">
    		<div class="row">
      			<div class="col col-50">
      				<img src="http://static.dietanalytics.com{{result.image_url}}" width="100%">
      			</div>
      			<div class="col">
      				<h2>{{ result.name }}</h2>
			    	<p>{{ result.meta_description }}</p>
      			</div>
      		</div>
    	</ion-item>
  	</ion-list>
</div>

